body{
    background-color: #171717;
    overflow-x: hidden;
}
.cust-margin{
    margin-top: 80px;
    margin-bottom: 80px;
}
.container h3{
    color: #fff;
    font-size: 48px;
    margin: 60px 0;
    text-align: center;
}
/* header start */
header .row .col-6 .img-box{
    padding: 15px;
    width: 580px;
    background-color: rgba(30, 29, 29, 0.5);
    border-radius: 50%;
}
header .row .col-6 img{
    width: 550px;
}
header .oyindamola{
    color: #fff;
    font-size: 36px;
    text-decoration: none;
}
/* header end */

/* about start */
.container h2{
    color: #fff;
    font-size: 54px;
    text-align: center;
}
.container .about{
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.container .contact p{
    color: #27AE60;
    text-align: center;
}
.container .contact strong{
    color: #fff;
}
/* about end */

/* what do i do start */
.skilled-box{
    height: 240px;
    background-color: #212121;
}
.skilled-box i{
    color: #27AE60;
    font-size: 50px;
}
.skilled-box h4{
    color: #535353;
    font-size: 36px;
}
/* what do i do end */

/* my skills start */
.container .skills{
    background-color: #212121;
}
.container .skills .single-skill h1{
    color: #4F4F4F;
    font-size: 60px;
    text-align: center;
}
.container .skills .single-skill p{
    color: #27AE60;
    text-align: center;
}
/* my skills end */
.form-font{
    color: #4F4F4F;
}

/* footer start */
footer{
    color: #4F4F4F;
}
/* footer end */