body{
    background-color: #171717;
}

/* header start */
header .row .col-6 .img-box{
    padding: 15px;
    width: 580px;
    background-color: rgba(30, 29, 29, 0.5);
    border-radius: 50%;
}
header .row .col-6 img{
    width: 550px;
}
header .oyindamola{
    color: #fff;
    font-size: 36px;
    text-decoration: none;
}
/* header end */

/* about start */
.container h2{
    color: #fff;
    font-size: 35px;
    text-align: center;
}
.container .about{
    color: #fff;
    font-size: 16px;
    margin: 38px 120px;
    text-align: center;
}
.container .contact p{
    color: #27AE60;
}
.container .contact strong{
    color: #fff;
}
/* about end */

/* what do i do start */
.skill-box{
    background-color: #212121;
    margin: 15px;
    width: 30%;
}
.skill-box .fab{
    color: #27AE60;
    font-size: 40px;
}
.skill-box h3{
    color: #535353;
    font-size: 36px;
}
/* what do i do end */